# All dependencies needed to run WMCore software
# This file is parsed by tools/build_pypi_packages.sh to create requirements.txt
# files for each piece of software built from WMCore and uploaded to PyPI
# Format:
# PackageName==X.Y.Z          # <comma separated list of WMCore software needing the package>

Cheetah==2.4.0                # wmagent,reqmgr2,reqmon,t0
cx-Oracle==5.2.1              # wmagent,t0
future==0.18.2                # wmagent,reqmgr2,reqmon,global-workqueue,reqmgr2ms,t0
httplib2==0.19.0              # wmagent,reqmgr2,reqmon,acdcserver,global-workqueue,reqmgr2ms,t0
MySQL-python==1.2.5           # wmagent,t0
psutil==5.6.6                 # wmagent,reqmgr2,reqmon,global-workqueue,t0
pycurl==7.43.0.3              # wmagent,reqmgr2,reqmon,global-workqueue,reqmgr2ms,t0
pyOpenSSL==18.0.0             # wmagent,t0
pyzmq==17.1.2                 # wmagent,t0
retry==0.9.1                  # wmagent,reqmgr2,reqmon,global-workqueue,reqmgr2ms,t0
rucio-clients==1.23.6         # wmagent,global-workqueue,reqmgr2ms,t0
SQLAlchemy==1.3.3             # wmagent, t0
